<h3>Hangar {{ this.idHangar }}</h3>

<app-products-of-hangar-list [productsOfHangar]="productsOfHangar$ | async" (getProduct)="getProduct($event)" (modifyAmount)="modifyAmount($event)" (deleteRelationship)="deleteRelationship($event)"></app-products-of-hangar-list>

<app-form-product-hangar [isAmountModify]="isAmountModify" [products]="productsUnlinkHangar$ | async" [idHangar]="idHangar" [idProduct]="idProduct" (saveProductOfHangar)="saveProductHangar($event)" (editProductOfHangar)="updateProductHangar($event)"></app-form-product-hangar>