<div class="container d-flex row justify-content-between">
    <h3>{{ hangar[1] }}</h3>
    <a class="addProd" (click)="linkToHangar()"><strong>{{ 'insertProduct.text' | translate }}</strong></a>
</div>

<div *ngIf="hangarEmpty">
    <h5>{{ 'hangar.empty' | translate }}</h5>
</div>

<table *ngIf="!hangarEmpty" class="table table-condensed table-hover">
    <caption>
        {{ 'relationships.text' | translate }}
    </caption>
    <thead>
        <tr>
            <th scope="col">{{ 'product.text' | translate }}</th>
            <th scope="col">{{ 'amount.text' | translate }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of productsOfHangar; let i = index">
            <td>{{ item.product }}</td>
            <td>{{ item.amount }}</td>
            <td class="td1">
                <a (click)="seeProduct(item.product)">{{ 'more.text' | translate }}</a>
            </td>
        </tr>
    </tbody>
</table>

<app-add-products-hangar [insertProduct]="insertProduct" [hangar]="hangar"></app-add-products-hangar>