<form [formGroup]="formUser" (ngSubmit)="saveUser()">
    <div>
        <div class="form-group row">
            <label for="username" class="col-form-label">{{ 'login.user' | translate }}</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="form-group row">
            <label for="password" class="col-form-label">{{ 'login.password' | translate }}</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group row">
            <button type="submit" class="btn">{{ 'save.text' | translate }}</button>
        </div>
    </div>
</form>