<div class="container-login">
<form [formGroup]="formLogin" (ngSubmit)="checkLogin()">
    <h2 class="formLogin-heading">
        {{ 'login.header' | translate }}
    </h2>
    <div>
        <div class="form-group row">
            <label for="username" class="col-form-label">{{ 'login.user' | translate }}</label>
            <input type="text" class="form-control" ngModel formControlName="username">
        </div>
        <div class="form-group row">
            <label for="password" class="col-form-label">{{ 'login.password' | translate }}</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group row">
            <button type="submit" class="btn">{{ 'login.login' | translate }}</button>
        </div>
        <a (click)=newUser() class="btn2">{{ 'login.register' | translate }} </a>
    </div>
</form>
</div>