.btn:hover {
    box-shadow: 0 0 2em #d1e8ec;
    background-color: #aeccd1;
}

.btn:active {
    box-shadow: 0 0 2em #d1e8ec;
}

.btn {
    cursor: pointer;
}

.btn2 {
    text-decoration: underline;
    cursor: pointer;
}