<div class="container-products">
    <div class="container-card" *ngFor="let product of products">
        <app-product-card-commerce [isOrder]="true" [product]="product" (removeProductOfShoppingCart)="removeProductToShoppingCart.emit($event)" (getProduct)="this.getProduct.emit($event)" (increaseProductOfShoppingCart)="increaseProductOfShoppingCart.emit(product)"
            (decreaseProductOfShoppingCart)="decreaseProductOfShoppingCart.emit(product)"></app-product-card-commerce>
    </div>
</div>