* {
    margin: 0;
    padding: 0;
}

.container-products {
    height: 90%;
    width: 100%;
    margin: auto;
    /*    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 15px; */
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

li {
    padding: 5px;
    height: 60px;
}