.table-hangar {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

table {
    height: 65%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

thead {
    border-bottom: .1vh solid #24292f;
}

tr {
    height: 4em;
}

tbody>tr {
    border-bottom: .1vh solid #D6DDDF;
}

.item {
    cursor: pointer;
}

.item:hover {
    color: #0C9;
}

.list.selected {
    background: #e7ebef;
}