.table-hangar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

table {
    height: 65%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

thead {
    border-bottom: .1vh solid #24292f;
}

tbody>tr {
    border-bottom: .1vh solid #D6DDDF;
}

.item {
    cursor: pointer;
}

.item:hover {
    color: #0C9;
}

.list.selected {
    background: #e7ebef;
}

/* linear-gradient(135deg, #6e8efb, #a777e3) */
