* {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container-profile {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile {
    width: 40%;
    height: 40%;
    margin: 5vmin;
}
