* {
    margin: 0;
    padding: 0;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e7ebef;
    position: relative;
    border-bottom: 5px solid #0C9;
}

img {
    position: relative;
    width: 100%;
    height: 50%;
    background-position: center center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

span {
    padding: 2%;
}

.footer {
    /* background: orange; */
    width: 100%;
}
