.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .45rem;
    color: #24292f;
    border-color: #d1e8ec;
}

.btn:hover {
    box-shadow: 0 0 2em #d1e8ec;
    background-color: #aeccd1;
}

.btn:active {
    box-shadow: 0 0 2em #d1e8ec;
}
