<div class="container d-flex row">
    <div class="card">
        <div class="card-header justify-content-start">
            <h2>{{product.name}}</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{product.description}}</p>
            <div class="row justify-content-end">
                <a (click)="deleteProduct()" class="btn">{{ 'product.delete' | translate }}</a>
                <a (click)="editProduct()" class="btn">{{ 'edit.text' | translate }}</a>
                <a (click)="addPrice()" class="btn">{{ 'add-price.text' | translate }}</a>
                <a (click)="getPrices()" class="btn">{{ 'historic.text' | translate }}</a>
            </div>
        </div>
    </div>

    <nav class="navbar">
        <app-form-price [insertPrice]="insertPrice" [product]="product"></app-form-price>
    </nav>

    <app-list-price [showHistoric]="showHistoric" [product]="product"></app-list-price>

</div>