* {
    margin: 0;
    height: 100%;
}

.container-product * {
    position: relative;
}

.container-product *:after {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0; */
}

.container-product {
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.5fr 0.2.4fr 0.2fr;
    grid-template-areas: ". . ." "sidebar-product list-product ." ". . .";
}

.sidebar-product {
    grid-area: sidebar-product;
}

.list-product {
    grid-area: list-product;
}