.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.45rem;
    color: #24292f;
    border-color: #d1e8ec;
    box-shadow: 0 0 2em #d1e8ec;
}

.btn:hover {
    box-shadow: 0 0 2em #d1e8ec;
}

.btn:active {
    box-shadow: 0 0 2em #d1e8ec;
}

.navbar {
    color: #24292f;
    font-family: 'Lato', sans-serif;
}

a:hover {
    box-shadow: 0 0 2em #d1e8ec;
}