<!-- <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
</div> -->


<div class="container-product">
    <div class="sidebar-product">
        <app-side-product [hangars]="hangars$ | async" (hangarsNotLoaded)="hangarsNotLoaded()" (insertProduct)="insertProduct()" (getHangars)="getHangars()" (viewProductsOfHangar)="viewProductsOfHangar($event)"></app-side-product>
    </div>
    <div class="list-product">
        <app-product-list [buttonAction]="'more.text'" [products]="products$ | async" (productAction)="getProduct($event)"></app-product-list>
    </div>
</div>
