.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 0.5px solid transparent;
    font-size: 1rem;
    line-height: 1.0;
    border-radius: 0.45rem;
    color: #24292f;
    border-color: #d1e8ec;
}

.btn:hover {
    background-color: #aeccd1;
}

.btn:active {
    box-shadow: none;
}