<form [formGroup]="formHangar" (ngSubmit)="saveHangar($event)">
    <div>
        <div class="form-group row">
            <label class="col-form-label" for="name">{{ 'name.text' | translate }}</label>
            <input formControlName="name" id="name" type="text" class="form-control" [readonly]="isReadOnly">
            <div *ngIf="(name?.errors)">{{ 'name-form.text' | translate }}</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label" for="address">{{ 'address.text' | translate }}</label>
            <input formControlName="address" id="address" type="text" class="form-control" [readonly]="isReadOnly">
            <div *ngIf="(address?.errors)">{{ 'address-form.text' | translate }}</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label" for="address">{{ 'owner.text' | translate }}</label>
            <input formControlName="owner" id="owner" type="text" class="form-control" [readonly]="isReadOnly">
            <div *ngIf="(owner?.errors)">{{ 'owner-form.text' | translate }}</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label" for="email">{{ 'email.text' | translate }}</label>
            <input formControlName="email" id="email" type="text" class="form-control" [readonly]="isReadOnly">
            <div *ngIf="(email?.errors)">{{ 'email-form.text' | translate }}</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label" for="phone">{{ 'phone.text' | translate }}</label>
            <input formControlName="phone" id="phone" type="text" class="form-control" [readonly]="isReadOnly">
            <div *ngIf="(phone?.errors)">{{ 'phone-form.text' | translate }}</div>
        </div>
        <div class="form-group row" *ngIf="!isReadOnly">
            <button type="submit" class="btn">{{ 'save.text' | translate }}</button>
        </div>
    </div>
</form>