<div class="container-form">
    <form [formGroup]="formHangar" class="form">
        <div>
            <label for="name">{{
        "name.text" | translate
      }}</label>
            <input formControlName="name" id="name" type="text" [readonly]="isReadOnly" />
            <div *ngIf="name.pending && name.touched && !isReadOnly">{{ "form.uniqueness" | translate }}</div>

            <div *ngIf="hangarSelected">
                <div *ngIf="name.touched && name.invalid && name.value!=hangarSelected.name && !isReadOnly">
                    <div *ngIf="!!name.errors.shouldBeUnique">
                        {{ 'hangar.exist' | translate }}
                    </div>
                    <div *ngIf="!!name.errors.minlength">
                        {{ "product.name" | translate }}
                    </div>
                    <div *ngIf="!!name.errors.required">
                        {{ "name-form.text" | translate }}
                    </div>
                </div>
            </div>

            <div *ngIf="!hangarSelected">
                <div *ngIf="name.touched && name.invalid && !isReadOnly">
                    <div *ngIf="!!name.errors.shouldBeUnique">
                        {{ 'hangar.exist' | translate }}
                    </div>
                    <div *ngIf="!!name.errors.minlength">
                        {{ "product.name" | translate }}
                    </div>
                    <div *ngIf="!!name.errors.required">
                        {{ "name-form.text" | translate }}
                    </div>
                </div>
            </div>

        </div>
        <div>
            <label for="address">{{
        "hangar.address" | translate
      }}</label>
            <input formControlName="address" id="address" type="text" [readonly]="isReadOnly" />
            <div *ngIf="address.touched && address.invalid">
                <div *ngIf="!!address.errors.required">
                    {{ "address-form.text" | translate }}
                </div>
            </div>
        </div>
        <div>
            <label for="owner">{{
        "hangar.owner" | translate
      }}</label>
            <input formControlName="owner" id="owner" type="text" [readonly]="isReadOnly" />
            <div *ngIf="owner.touched && owner.invalid">
                <div *ngIf="!!owner.errors.required">
                    {{ "owner-form.text" | translate }}
                </div>
            </div>
        </div>
        <div>
            <label for="email">{{
        "hangar.email" | translate
      }}</label>
            <input formControlName="email" id="email" type="text" [readonly]="isReadOnly" />
            <div *ngIf="email.touched && email.invalid">
                <div *ngIf="!!email.errors.required">
                    {{ "email-form.text" | translate }}
                </div>
            </div>
        </div>
        <div>
            <label for="phone">{{
        "hangar.phone" | translate
      }}</label>
            <input formControlName="phone" id="phone" type="text" [readonly]="isReadOnly" />
            <div *ngIf="phone.touched && phone.invalid">
                <div *ngIf="!!phone.errors.required">
                    {{ "phone-form.text" | translate }}
                </div>
                <div *ngIf="!!phone.errors.minlength">
                    {{ "phone-form.length" | translate }}
                </div>
            </div>
        </div>

        <div>
            <app-button (click)="hangarAction()" [text]="action | translate "></app-button>
        </div>
    </form>
</div>