<form [formGroup]="formHangar" (ngSubmit)="saveHangar($event)">
    <div>
        <div class="form-group row">
            <label class="col-form-label" for="name">{{
        "name.text" | translate
      }}</label>
            <input formControlName="name" id="name" type="text" class="form-control" [readonly]="isReadOnly" />
            <div *ngIf="name.pending">{{ "form.uniqueness" | translate }}</div>

            <div *ngIf="hangarSelect">
                <div *ngIf="name.touched && name.invalid && name.value!=hangarSelect.name && !isReadOnly" class="alert alert-danger">
                    <div *ngIf="!!name.errors.shouldBeUnique">
                        {{ 'hangar.exist' | translate }}
                    </div>
                    <div *ngIf="!!name.errors.minlength">
                        {{ "product.name" | translate }}
                    </div>
                    <div *ngIf="!!name.errors.required">
                        {{ "name-form.text" | translate }}
                    </div>
                </div>
            </div>

            <div *ngIf="!hangarSelect">
                <div *ngIf="name.touched && name.invalid && !isReadOnly " class="alert alert-danger">
                    <div *ngIf="!!name.errors.shouldBeUnique">
                        {{ 'hangar.exist' | translate }}
                    </div>
                    <div *ngIf="!!name.errors.minlength">
                        {{ "product.name" | translate }}
                    </div>
                    <div *ngIf="!!name.errors.required">
                        {{ "name-form.text" | translate }}
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-form-label" for="address">{{
        "hangar.address" | translate
      }}</label>
            <input formControlName="address" id="address" type="text" class="form-control" [readonly]="isReadOnly" />
            <div *ngIf="address.touched && address.invalid" class="alert alert-danger">
                <div *ngIf="!!address.errors.required">
                    {{ "address-form.text" | translate }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label" for="owner">{{
        "hangar.owner" | translate
      }}</label>
            <input formControlName="owner" id="owner" type="text" class="form-control" [readonly]="isReadOnly" />
            <div *ngIf="owner.touched && owner.invalid" class="alert alert-danger">
                <div *ngIf="!!owner.errors.required">
                    {{ "owner-form.text" | translate }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label" for="email">{{
        "hangar.email" | translate
      }}</label>
            <input formControlName="email" id="email" type="text" class="form-control" [readonly]="isReadOnly" />
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <div *ngIf="!!email.errors.required">
                    {{ "email-form.text" | translate }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label" for="phone">{{
        "hangar.phone" | translate
      }}</label>
            <input formControlName="phone" id="phone" type="text" class="form-control" [readonly]="isReadOnly" />
            <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">
                <div *ngIf="!!phone.errors.required">
                    {{ "phone-form.text" | translate }}
                </div>
                <div *ngIf="!!phone.errors.minlength">
                    {{ "phone-form.length" | translate }}
                </div>
            </div>
        </div>
        <div class="form-group row" *ngIf="!isReadOnly">
            <button type="submit" class="btn">{{ "save.text" | translate }}</button>
        </div>
        <div class="form-group row" *ngIf="isReadOnly || isEdit">
            <button (click)="this.deleteHangar.emit(this.hangarSelect)" class="btn">{{ "hangar.delete" | translate }}</button>
        </div>
    </div>
</form>