<div class="card-columns">
    <div *ngFor="let product of products" class="card animated fadeIn fastcard-width-33">
        <div class="card-body">
            <h4 class="card-title">{{ product.name }}</h4>
            <p class="card-text">{{ product.description }}</p>
        </div>
        <div class="card-footer">
            <button (click)="this.getProduct.emit(product)" type="button" class="btn">
              {{ 'more.text' | translate }}
            </button>
        </div>
    </div>
</div>
