* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    flex-basis: content;
}

.card-product {
    padding: .6vmax;
    width: 15vmax;
    height: min-content;
}
