<form [formGroup]="formProductOfHangar" (ngSubmit)="addProduct()">
    <div>
        <div *ngIf="!isAmountModify" class="form-group row">
            <label class="col-form-label" for="amount">{{ 'product.text' | translate }}</label>
            <select class="form-control" formControlName="product" id="name" type="number">
                    <option>{{ 'form.product' | translate }}</option>
                    <option *ngFor="let product of products" [value]=product.id>
                      {{ product.name }}
                    </option>
                </select>
        </div>
        <div class="form-group row">
            <label class="col-form-label" for="amount">{{ 'amount.text' | translate }}
                  <p *ngIf="isAmountModify">{{ 'product.amount' | translate }}</p>
                </label>
            <input formControlName="amount" id="amount" type="number" class="form-control">
        </div>
        <div class="form-group row">
            <button type="submit" class="btn">{{ 'save.text' | translate }}</button>
        </div>
    </div>
</form>