.grid-container {
    height: 100%;
    margin: 0;
}

.grid-container * {
    position: relative;
}

.grid-container *:after {
    position: absolute;
    top: 0;
    left: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.5fr 0.2fr 0.7fr 1.1fr;
    grid-template-rows: 0.4fr 0.6fr 0.4fr 2.7fr 1.6fr 0.7fr 0.7fr;
    grid-template-areas: ". . . . . ." ". customer . . . ." ". . . . . ." ". products-order products-order products-order . shopping-cart" ". products-order products-order products-order . shopping-cart" ". products-order products-order products-order . ." ". . . . . .";
}

.customer {
    grid-area: customer;
}

.products-order {
    grid-area: products-order;
}

.shopping-cart {
    grid-area: shopping-cart;
}