.container-shop {
    height: 100%;
    width: 100%;
    /* background-color: #F6F6F6; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e7ebef;
}

.container-shop>span {
    /* margin-top: 2vmin; */
    /* color: #1E804C; */
    font-weight: bolder;
    font-size: 4vmin;
    width: 100%;
    text-align: center;
}

.shop-details {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2vmin;
}

.shop-details>span {
    color: #1E804C;
    font-weight: normal;
    font-size: 2vmin;
}

.shop-footer {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    height: content;
    width: 80%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


/* @keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
} */
