<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<ul>
    <li>
        <a class="nav-item nav-link" [routerLink]="['']">App</a>
    </li>
    <li>
        <a class="nav-item nav-link" [routerLink]="['hangars']">{{ 'hangar.text' | translate }}</a>
    </li>
    <li>
        <a class="nav-item nav-link" [routerLink]="['products']">{{ 'product.text' | translate }}</a>
    </li>
    <li>
        <a class="nav-item nav-link" [routerLink]="['commerce']">{{ 'commerce' | translate }}</a>
    </li>
    <li>
        <a class="nav-item nav-link" [routerLink]="['about']">{{ 'about-nav.text' | translate }}</a>
    </li>
    <li style="float:right">
        <a *ngIf="this.loginService.isUserLoggedIn" [routerLink]="['profile']" class="nav-item">{{ this.loginService.getName() }}</a>
    </li>
    <li style="float:right">
        <a class="change" (click)="emitLanguage()">{{ 'change.text' | translate }}</a>
    </li>
    <li style="float:right">
        <a *ngIf="this.loginService.isUserLoggedIn()" (click)="logoutSession()" class="nav-link">{{ 'login.logout' | translate }}</a>
    </li>
</ul>