:host() {
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    height: 50%;
    padding: 20px 10px;
}

:host.is-open {
    display: block;
}

.nav-link:hover {
    cursor: pointer;
}