<form [formGroup]="form">
    <app-input-form formControlName='name' [label]="'Nombre'" [isReadOnly]="this.isEdit"></app-input-form>

    <app-input-form formControlName='surname' [label]="'Apellido'" [isReadOnly]="this.isEdit"></app-input-form>

    <app-input-form formControlName='mail' [label]="'Mail'" [isReadOnly]="this.isEdit"></app-input-form>

    <app-input-form formControlName='phone' [label]="'Teléfono'" [isReadOnly]="this.isEdit"></app-input-form>

    <app-input-form formControlName='address' [label]="'Dirección'" [isReadOnly]="this.isEdit"></app-input-form>

    <button (click)="isFormEdit.emit()">Modificar</button>
    <button *ngIf="!this.isEdit" (click)="save()">Guardar</button>
</form>
