* {
    padding: 0;
    height: 100%;
}

.container-shop * {
    position: relative;
}

.container-shop *:after {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0; */
}

.container-shop {
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: 0.2fr 2.4fr 0.2fr;
    grid-template-areas: ". . ." ". commerce ." ". . .";
}

.commerce {
    grid-area: commerce;
}