
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(134, 134, 134);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80)
  transition: all 200ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 134);
}

ul {

  background:  #191b1b;
  margin: 0;
  padding: 2% 0%;

  height: 70vh;
  overflow-y: auto;
}

li {
  list-style-type: none;
  color: #fafafa;

  padding: 0% 5%;
  margin: 0px 2px;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

  transition: all 200ms ease-in-out;

  cursor: pointer;

}

li:hover {
  background: #292b2c;
}

span {
  display: flex;
  align-items: center;
  height: 45px;
}

