.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.35rem;
    text-align: center;
    background-color: #24292f;
    color: rgb(209, 232, 236);
    font-family: 'Lato', sans-serif;
}