* {
    padding: 0;
    height: 100%;
}

.container * {
    position: relative;
}

.container *:after {
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: ". . . . ." ". card-1 . card-2 ." ". . . . .";
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}
