.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #24292f;
    background-color: #ebf3f5;
}

.form-group {
    width: 300px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.45rem;
    color: #24292f;
    border-color: #0C9;
    box-shadow: 0 0 0.05em #0C9;
}

.btn:active {
    box-shadow: 0 0 0.25em #0C9;
}

.btn:hover {
    box-shadow: 0px 4px 13px 2px rgb(209, 232, 236);
    background-color: #aeccd1;
}