<app-button [hangarSelected]="currentHangar" [isSelect]="isSelected"></app-button>

<table class="table table-condensed table-hover">
    <caption>
        {{ 'list-hangars.text' | translate }}
    </caption>
    <thead>
        <tr>
            <th scope="col">Hangar</th>
            <th scope="col">{{ 'address.text' | translate }}</th>
            <th scope="col">{{ 'owner.text' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hangar of hangars; let i = index" (dblclick)="getHangar(i)" (click)="hangarSelected($event, hangar)">
            <td class="td1">{{ hangar.name }}</td>
            <td>{{ hangar.address }}</td>
            <td>{{ hangar.owner }}</td>
        </tr>
    </tbody>
</table>

<button (click)="seePrevious()">{{ 'previous.text' | translate }}</button>
<button (click)="seeNext()">{{ 'next.text' | translate }}</button>