* {
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.main {
    display: flex;
    flex: 1;
}

.navbar,
.footer {
    max-height: 20vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}